---
import { Button } from '@mantine/core'
import MantineLayout from '../layouts/MantineLayout.astro'
---

<MantineLayout title="Mantine component showcase">
  <main>
    <h1>Mantine component showcase</h1>
    <Button fullWidth variant="outline">Hello</Button>
  </main>
</MantineLayout>
